{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}

<section class="flex-1 hero bg-[60%] lg:bg-[70%] bg-center bg-no-repeat"
    style="background-image: url('/static/img/banner.png')">
    <div class="w-full">

        <div class="ms-container-wide grid grid-cols-1 md:grid-cols-2 gap-8 py-8 lg:py-12">

            <div class="ms-theme-card-light shadow-md col-span-1">
                <div>
                    <p class="text-card-subheading mb-2"> Sign in.</p>
                    <p class="text-card-body">Welcom back to the Debt Calculator</p>
                </div>
                <form action="/login" method="post" class="ms-form">
                    <input autocomplete="off" autofocus class="form-input ms-input form-element" id="username"
                        name="username" placeholder="Username" type="text">
                    <input class="form-input ms-input form-element" id="password" name="password" placeholder="Password"
                        type="password">
                    <button class="ms-button-brand form-element" type="submit">
                        <span class="ms-icon-sm material-symbols-outlined">login</span>
                        <span>Log In</span>
                    </button>

                </form>
            </div>
            <div class="spacer col-span-1 lg:min-h-[500px]"></div>
        </div>
    </div>
</section>

{% endblock %}